body,
html {
  height: 100%;
  margin: 0;

  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("/images/login_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1080px;
}

.login-container {
  text-align: center;
  width: 350px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* width: fit-content; */
}

.logo {
  margin-bottom: 10px;
  max-width: 50px;
}

.welcome {
  padding: 40px;

  max-width: 100px;
}

.welcome p {
  padding: 50px;
}

.google-btn {
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #144f67;
  color: white;
}

