

.mechanic_notes_container form {
    color: red;
}

#mechanic_notes {
    width: 100%; 
    min-height: 100px; 
    box-sizing: border-box;
    border-style: solid;
}

textarea#mechanic_notes {
    width: 100%; /* Set the width to fill its container */
    height: 150px; /* Set the initial height */
    resize: vertical; /* Allow vertical resizing */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /* Add any other styling you want */
}

#makemodelimg {
    width: 100px;
}


.model-img-container {
    width: 220px;
    /* margin: 0 auto; */
    margin-left: 15px;;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;

}

#makemodelimg {
    height: 200px;
    width: 200px;
}