:root {
  --navbar-hover-color: #29647c;
  --navbar-active-color: #124e66;
  --navbar-background-color: #2f3943;
}
* {
  margin: 0;
  padding: 0;
  color: #1b1212;
  font-family: sans-serif;
}

/* NAVBAR */
a {
  text-decoration: none;
  color: white;
}

.nav-container {
  background-color: var(--navbar-background-color);
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.page-content-container {
  width: calc(100vw - 200px);
  height: 100vh;
  margin-left: 200px;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 60px; */
  width: 100%;
}

.nav-button {
  /* background-color: beige; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 20px;
  width: 90%;
  height: 40px;
  /* border-style: solid; */
}

.nav-button:hover {
  background-color: var(--navbar-hover-color);
}

.nav-img {
  width: 10px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-link {
  font-size: 13px;
}

.nav-bottom {
  margin-top: 50px;
}

.active {
  background-color: var(--navbar-active-color) !important;
}

.logo {
  width: 50px;
  height: auto;
  margin-top: 30px;
}

.logout {
  margin-top: 20px;
}

.temp {
  border-style: solid;
  border-color: rgb(207, 78, 78);
  /* background-color: rgba(255, 228, 196, 0.298); */
}
