<div class="section-container">
    <div class="user-info">
        <p>Welcome, <%= userData.displayName %></p>
    </div>
</div>

<div class="section-container">
    <div class="square-container">
        <div class="square">
            <p class="square-number"><%= totalClients %></p>
            <p class="square-text">Total Clients</p>
        </div>
        <div class="square">
            <p class="square-number"><%= totalSales %></p>
            <p class="square-text">Total Sales</p>
        </div>
        <div class="square">
            <p class="square-number"><%= totalInventory %></p>
            <p class="square-text">Total Inventory</p>
        </div>
    </div>
</div>