<div class="section-container">
    <div class="user-info">
        <p>Welcome, <%= userData.displayName %></p>
    </div>
</div>

<div class="section-container">
    <div class="dashboard-square">
        <p class="dashboard-number"><%= totalClients %></p>
        <p class="dashboard-label">Total Clients</p>
    </div>
    <div class="dashboard-square">
        <p class="dashboard-number"><%= totalSales %></p>
        <p class="dashboard-label">Total Sales</p>
    </div>
    <div class="dashboard-square">
        <p class="dashboard-number"><%= totalInventory %></p>
        <p class="dashboard-label">Total Inventory</p>
    </div>
</div>