<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="login-container">
        <header>
            <img src="/images/scooter_icon.png" alt="Mopedmark Logo" class="logo">
        </header>
        <div class="Welcome">
            <h2>Welcome to MopedMark</h2>
            <p>Streamlining your ride with effortless inventory management and user-friendly tools for moped
                enthusiasts and retailers alike!</p>
            <p></p>
        </div>
        <div class="oauth">
            <a href="/auth/google" class="google-btn">Log in with Google</a>
        </div>
        </form>
    </div>
</body>

</html>