<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Page</title>
</head>
<body>
<div class="login-container">
    <form id="loginForm" action="/login" method="POST">
        <div class="input-group">
            <label class="input-label">Email</label>
            <input type="email" id="email" name="email" placeholder="xxxxx" required>
        </div>
        <div class="input-group">
            <label class="input-label">Password</label>
            <input type="password" id="password" name="password" placeholder="xxxxx" required>
        </div>
        <button type="submit" class="btn login-btn">Log in</button>
        <button type="button" class="btn signup-btn">Sign up</button>
        <button type="button" class="btn google-btn">Log in with Google</button>
    </form>
</div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="login-container">
        <header>
            <img src="/images/scooter_icon.png" alt="Mopedmark Logo" class="logo">
        </header>
        <div class="Welcome">
            <h2>Welcome to MopedMark</h2>
            <p>Streamlining your ride with effortless inventory management and user-friendly tools for moped
                enthusiasts and retailers alike!</p>
            <p></p>
        </div>
        <div class="oauth">
            <button type="button" class="google-btn">Log in with Google</button>
        </div>
        </form>
    </div>
    <!-- Optionally, include your JavaScript file here -->
    <!-- <script src="script.js"></script> -->
</body>

</html>