<div class="nav-container">
    <div>
        <a href="/dashboard"><img class="logo" src="/images/temp-logo.png" alt=""></a>
    </div>
    <div class="nav-buttons">
        <div class="nav-button active"><a class="nav-link" href="/dashboard">Dashboard</a></div>
        <div class="nav-button"><a class="nav-link" href="/inventory">Inventory</a></div>
        <div class="nav-button"><a class="nav-link" href="/shipments">Shipments</a></div>
        <div class="nav-button"><a class="nav-link" href="/mechanic_hub">Mechanic Hub</a></div>
        <div class="nav-button"><a class="nav-link" href="/clients">Clients</a></div>
        <div class="nav-button"><a class="nav-link" href="/sales">Sales</a></div>
        <div class="nav-button"><a class="nav-link" href="#">Account</a></div>
        <div class="nav-button"><a class="nav-link" href="#">Log Out</a></div>
    </div>
</div>