<h1>upload</h1>
<br>
<form action="/shipment/new" method="post"  enctype="multipart/form-data" >
    <input type="file" name="file" id="file">
    <div>
        <label for="shipmentVendor"> Vendor:</label>
        <input type="text" name="shipmentVendor" id="shipmentVendor">
    </div>
    <div>
        <label for="invoiceno">Invoice Number:</label>
        <input type="text" name="invoiceno" id="invoiceno">
    </div>
   
    <div>
        <label for="orderDate">Order Date:</label>
        <input type="date" name="orderDate" id="orderDate">
    </div>
    <div>
        <label for="expectedDate">Expected Date:</label>
        <input type="date" name="expectedDate" id="expectedDate">
    </div>
    <div>
        <label for="total">Total:</label>

        <input type="number" name="total" id="total">
    </div>
    <input type="submit" value="Submit">
</form>
